
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1124px)  {
	.content {
    	margin: auto;
    	width: 1124px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	
	.rest2,.rest1 {
     	padding-bottom: 36px;
    }

	.rest1 img , .rest img{
        height: 100%;
    	width: 100%;	
	}

	h1 {
    padding-left: 8px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1 {
		padding-left: 7px;
	}
	.rest1 img , .rest img{
        height: 75%;
    	width: 100%;	
	}
	
	.rest2,.rest1 {
     padding-bottom: 36px; 
     width: 100%;
 }

     .info a, span {
    padding-bottom: 23px;
}
	
	.fot {
    padding-bottom: 17px;
    flex-direction: column;
}

